*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        90deg,
        #eecda3,
        #ef629f
    );
}
h1{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.4rem;
    margin-top: 8%;
}
.wrapper{
    border: 1px solid #fff;
    position: absolute;
    width: 30%;
    min-width: 350px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
#newtask{
    background-color: #fff;
    padding: 30px 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
#newtask input{
    width: 70%;
    height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bolder;
    padding: 12px;
    border: 2px solid #d1d3d4;
    color: #111111;
    position: relative;
}
#newtask input:focus{
    outline: none;
    border-color: skyblue;
}
#push{
    position: relative;
    float: right;
    width: 20%;
    height: 40px;
    border-radius: 5px;
    background-color: #ef629f;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#tasks{
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
}
.task{
    background-color: #fff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #d1d3d4;
}
.task span{
    font-size: 15px;
}
.task button{
    background-color: #ef629f;
    color: #fff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.completed{
    text-decoration: line-through;
}